<!DOCTYPE html>
<html>

<head>
	<title>Home - Prisme Analytics</title>
	{{ template "partials/head" }}
	{{ template "partials/tailwindcss" }}
</head>

<body class='{{ template "partials/class/body" }}'>
	<div class="flex h-full">
		<div class="flex flex-col flex-1">
			<div class="flex-1 bg-white">
				<main class='{{ template "partials/class/main" }}'>
					{{- if (gt (len .orgs) 0) -}}
					<h1 class="font-bold text-3xl mb-8">Your organizations</h1>
					<ul class="list-decimal px-4">
						{{- range $org := .orgs -}}
						<li>
							<a href="/orgs/{{ $org.Id }}" class="underline">
								{{- $org.Name -}}
							</a>
						</li>
						{{- end -}}
					</ul>
					{{- else -}}
					<div class="my-32 text-center">
						{{- template "partials/icons/folder-plus" (dict "class" "mx-auto h-12 w-12 text-gray-400" ) -}}
						<h3 class="mt-2 text-sm font-semibold">No organization</h3>
						<p class="mt-1 text-sm text-slate-500 dark:text-slate-300">Get started by creating a new organization.</p>
						<div class="mt-6">
							<a href="/orgs/new">
								<button type="button" class='inline-flex items-center w-max {{ template "partials/class/button" }}'>
									{{- template "partials/icons/plus" (dict "class" "-ml-0.5 mr-1.5 h-5 w-5") -}}
									New Organization
								</button>
							</a>
						</div>
					</div>
					{{- end -}}
				</main>
			</div>
		</div>
	</div>
</body>

</html>
