<!DOCTYPE html>
<html>

<head>
	<title>Home - Prisme Analytics</title>
	{{ template "partials/tailwindcss" }}
</head>

<body class="{{ .bodyClass }}">
	<div class="max-w-6xl mx-auto">
		{{- template "partials/app/header" -}}
	</div>
	<hr class="mb-4 dark:border-slate-600" />
	<main class="max-w-3xl mx-auto px-4">
		{{- with .error -}}
		{{- template "partials/alert" (dict "title" "Organization creation failed" "message" .) -}}
		{{- end -}}
		<h1 class="text-2xl mt-8">Create an organization</h1>
		<h2 class="text-sm mt-2 text-slate-500 dark:text-slate-300">
			Create an isolated environment for your data and users.
		</h2>
		<h3 class="text-xl mt-8">
			Organization profile
		</h3>
		<form method="POST" class="flex flex-col">
			<div class="mt-4 max-w-lg">
				<label for="name" class="text-xs mb-1">Organization name</label>
				<input id="name" name="name" placeholder="My new organization" required
					class="border dark:border-slate-600 rounded-sm text-sm px-2 py-1 dark:bg-slate-800 w-full" />
			</div>
			<div class="flex gap-4 mt-8">
				<button onClick="history.back();" class='{{ template "partials/class/button_secondary" }}'>Cancel</button>
				<button type="submit" class='inline-flex items-center {{ template "partials/class/button" }}'>
					{{ template "partials/icons/plus" (dict "class" "-ml-0.5 mr-1.5 h-5 w-5") }}
					Create organization
				</button>
			</div>
		</form>
	</main>
	<div class="max-w-6xl mx-auto">
		{{- template "partials/app/footer" -}}
	</div>
</body>

</html>
