@import "tailwindcss";

@theme {
  --color-trend-page: var(--color-trend-page);
  --color-trend-background: var(--color-trend-background);
  --color-trend-foreground: var(--color-trend-foreground);
  --color-trend-primary: var(--color-trend-primary);
  --color-trend-primary-light: var(--color-trend-primary-light);

  --color-system-fg: var(--system-fg);
}

:root {
  --system-fg: #333;

  --font-sans: Inter, Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --system-fg: #eef;
  }
}

* {
  transition: backgroud-color 0.5s ease, color 0.5s ease;
}

.world-map .country {
  @apply transition-colors duration-400;
}

.world-map .country:hover {
  @apply fill-trend-primary;
}

.loader {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.loader::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--color-trend-primary);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.react-calendar {
  @apply text-sm text-nowrap text-system-fg rounded
}

.react-calendar__navigation {
  @apply h-8 mb-2 flex gap-2
}

.react-calendar__navigation__arrow:hover {
  @apply bg-trend-primary-light
}

.react-calendar button {
  @apply size-8 my-1
}

.react-calendar button:hover {
  @apply bg-trend-primary-light rounded
}

.react-calendar__tile--hover {
  @apply bg-trend-primary-light rounded-none
}

.react-calendar__tile--hoverStart {
  @apply bg-trend-primary-light rounded-l;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.react-calendar__tile--hoverEnd {
  @apply bg-trend-primary-light rounded-r;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.react-calendar__month-view__days__day {
  @apply text-sm
}

.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-system-fg/50
}

.react-calendar__month-view__weekdays__weekday abbr {
  @apply font-bold;
  text-decoration: none;
}
